.home.main {
    
}
.hero {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 2;
    padding-left: 8rem;
}

.img-bg img {
    object-fit: cover;
    object-position: top right;
}