.hero {
    height: 100vh;
    position: relative;
    z-index: 2;
    padding-left: 8rem;
    background-repeat: no-repeat;
    background-position: 70% 85%;
    background-size: auto 120%;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .hero-text {
        z-index: 10;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        background-position: 80% 85%;
        padding-left: 4rem;
    }

    .hero::after {
        background-color: rgba(0, 0, 0, 0.45);
    }

}

@media screen and (max-width: 500px) {
    .hero {
        padding-left: 2rem;
    }
}