.certification {
    .badge {
        transform: translateY(2rem);
        opacity: 0;

        .h4 {
            @media screen and (max-width: 991px) {
                font-size: calc(1rem + 0.3vw)
            }
            a {
                white-space: pre-wrap;
            }
        }
    }

    &.show {
        .badge {
            transition: transform 0.4s ease-in, opacity 0.4s ease-in;
            opacity: 1;
            transform: translateY(0);


            &:first-child {
                transition-delay: 0.6s;
            }

            &:last-child {
                transition-delay: 1s;
            }
        }
    }

}